body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.canvas-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  /* vertical-align: center; */
}

#main-canvas {
  width: 720px;
  height: 360px;
  display: block;
}
